<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel><title><![CDATA[Spring]]></title><description><![CDATA[Level up your Java code and explore what Spring can do for you.]]></description><link>https://spring.io</link><generator>GatsbyJS</generator><lastBuildDate>Thu, 06 Aug 2026 06:57:34 GMT</lastBuildDate>
    <item><title><![CDATA[This Week in Spring - August 4th, 2026]]></title><link>https://spring.io/blog/2026/08/04/this-week-in-spring-august-4-2026</link><guid isPermaLink="true">https://spring.io/blog/2026/08/04/this-week-in-spring-august-4-2026</guid><dc:creator><![CDATA[joshlong]]></dc:creator><pubDate>Tue, 04 Aug 2026 00:00:00 GMT</pubDate><content:encoded><![CDATA[<p>Nội dung đã cắt bớt cho fixture.</p>]]></content:encoded></item>
    <item><title><![CDATA[A Bootiful Podcast: Spring Boot founder and lead Phil Webb]]></title><link>https://spring.io/blog/2026/07/30/a-bootiful-podcast-phil-webb</link><guid isPermaLink="true">https://spring.io/blog/2026/07/30/a-bootiful-podcast-phil-webb</guid><dc:creator><![CDATA[joshlong]]></dc:creator><pubDate>Thu, 30 Jul 2026 00:00:00 GMT</pubDate><content:encoded><![CDATA[<p>Nội dung đã cắt bớt cho fixture.</p>]]></content:encoded></item>
    <item><title><![CDATA[This Week in Spring - July 28th, 2026]]></title><link>https://spring.io/blog/2026/07/28/this-week-in-spring-july-28-2026</link><guid isPermaLink="true">https://spring.io/blog/2026/07/28/this-week-in-spring-july-28-2026</guid><dc:creator><![CDATA[joshlong]]></dc:creator><pubDate>Tue, 28 Jul 2026 00:00:00 GMT</pubDate><content:encoded><![CDATA[<p>Nội dung đã cắt bớt cho fixture.</p>]]></content:encoded></item>
  </channel>
</rss>
